:root {
    --fontpadrao: 'Tilt Neon', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    font-family: var(--fontpadrao);
    background-color: rgb(36, 53, 102);
    color: white;
    text-align: center;
    padding: 17px;
}

.title {
    font-size: 25px;
    display: inline-block;
    margin: auto 80px;
    text-align: center;
}

.body {
    font-family: var(--fontpadrao);
    background-color: rgb(64, 85, 150);
    color: white;
}

.tabela-funcionarios {
    margin: auto;
    display: flex;
}